@import "../../global.scss";

.skillList {
  font-size: 16px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  @include mobile {
    margin-right: 10px;
  }
  &.active {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: $mainColor;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: $mainColor;
      font-weight: 600;
    }
  }
}
