@import "../../global.scss";

.works {
  // background-color: #eeebdd;
  background-image: url("https://media.istockphoto.com/photos/pink-purple-and-navy-blue-defocused-blurred-motion-gradient-abstract-picture-id1152472627?b=1&k=20&m=1152472627&s=170667a&w=0&h=vvWQ2EEU9VAh92XU0Mcr1GEAes0w_CeCJ3FKwsgqozY=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  @include mobile {
    overflow: hidden;
  }
  h2 {
    margin-top: 40px;
    font-size: 50px;
  }
  .arrow {
    height: 60px;
    position: absolute;
    @include mobile {
      display: none;
    }
    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }
    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      transition: all 1s ease;

      &:hover {
        transform: scale(1.05);
        border-radius: 20px;
      }
      .item {
        width: 700px;
        height: 90%;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 15px -8px black;

        @include mobile {
          width: 90%;
          height: 220px;
          margin: 15px 0;
        }

        .left {
          flex: 6;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include mobile {
            flex: 5;
            height: 95%;
            justify-content: space-evenly;
          }
          .leftpart {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            margin: 0 20px;
            justify-content: space-between;
            @include mobile {
              justify-content: s;
              height: 100%;
              justify-content: space-evenly;
            }
            h2 {
              font-size: 20px;
              @include mobile {
                font-size: 15px;
              }
            }
            p {
              font-size: 13px;
              justify-content: space-around;

              @include mobile {
                font-size: 10px;
              }
            }
            .project-icon {
              display: flex;
              img {
                margin-right: 10px;
                width: 10%;
                flex-wrap: nowrap;
                @include mobile {
                  width: 15%;
                }
              }
            }
            .project-btn {
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 70%;
              @include mobile {
                width: 100%;
              }
              button {
                width: 40%;
                border-radius: 5px;
                font-size: 14px;
                padding: 7px;
                border-radius: 10px;
                background-color: $mainColor;
                border: none;
                @include mobile {
                  width: 70%;
                  justify-content: space-evenly;
                }
                a {
                  text-decoration: none;
                  color: #ffffff;
                }
              }
            }
          }
        }
        .right {
          flex: 6;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          @include mobile {
            flex: 7;
          }
          img {
            width: 90%;
            margin-right: 10px;
            height: 90%;
            border-radius: 15px;
            // transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
